body {
    margin: 0;
    background-color: rgb(17, 24, 39);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.centerleft {
    display: inline-block;
    text-align: left;
    margin-left: 600px;
    margin-right: 600px;
}

.buttonsinfo {
    margin-right: 20px;
}

img {
    width: 300px;
    border-radius: 3%;
}

.buttonsinfo, a {
    text-decoration: none; 
}

.projectbutton, a {
    margin-bottom: 10px;
    text-decoration: none; 
}

.footerstyling {
    text-align: center;
    margin-top: 30px;
}
