body {
    margin: 0;
    background-color: rgb(17, 24, 39);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
}

#toppage {
    font-size: 70px;
    margin-top: 50px;
}

.container {
    text-align: left;
    padding: 3% 4%;
}

img {
    width: 300px;
    border-radius: 3%;
}

.footerstyling {
    text-align: center;
    margin-top: 30px;
}

hr {
    width: 50%;
    border-color: grey;
}

.buttonanc {
    position: relative;
    top: 15px;
    padding: 10px;
    background-color: #3D426B;
    color: white;
    border-radius: 5px;
}

.buttonanc:hover {
    position: relative;
    top: 15px;
    padding: 10px;
    background-color: #32375e;
    color: white;
    border-radius: 5px;
}

.buttonanc2 {
   display: inline-block;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #3D426B;
    color: white;
    border-radius: 5px;
}

.buttonanc2:hover { 
    padding: 10px;
    background-color: #32375e;
    color: white;
    border-radius: 5px;
}

#gototop {
    display: inline-block;
     position: relative;
     padding: 10px;
     background-color: #3D426B;
     color: white;
     border-radius: 5px;
 }

 #gototop:hover { 
    padding: 10px;
    background-color: #32375e;
    color: white;
    border-radius: 5px;
}